.Chat-main
  .Group-info
    .Group-info__name
      = @group.name 
      .Group-info__name__member
        - @group.users.each do |user|
          =user.name
    .Group-info__icons
      = link_to edit_group_path(@group),class: "Group-info__icons__Edit" do
        Edit
  .Message-list
    = render @messages
    
  .Message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      = f.text_field :content, class: 'Form__text', placeholder: 'type a message'
      = f.label :image, class: 'Form__img' do
        = icon('far', 'image', class: 'Form__icon')
        = f.file_field :image, class: 'Form__img__file'
      = f.submit 'Send', class: 'submit-btn'